{% extends 'base.html' %}
{% block title %} Contact {% endblock %}
{% block content %}
{% load static %}

	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url({% static 'images/heading-pages-06.jpg' %});">
		<h2 class="l-text2 t-center">
			Contact
		</h2>
	</section>

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-b-30">
					<div class="p-r-20 p-r-0-lg">
						<div class="contact-map size21" id="google_map" data-map-x="40.614439" data-map-y="-73.926781" data-pin="{% static 'images/icons/icon-position-map.png' %}" data-scrollwhell="0" data-draggable="1"></div>
					</div>
				</div>

				<div class="col-md-6 p-b-30">
					<form class="leave-comment">
						<h4 class="m-text26 p-b-36 p-t-15">
							Send us your message
						</h4>
						<div id = "errors-name-contact" style="font-size: 12px; color:red;"></div>
						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="fullname" name="name" placeholder="Full Name">
						</div>

						
						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="phone_num" name="phone-number" placeholder="Phone Number">
						</div>

						<div id = "errors-email-contact" style="font-size: 12px; color:red;"></div>
						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="email" name="email" placeholder="Email Address">
						</div>

						<textarea class="dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20" id="message" name="message" placeholder="Message"></textarea>
						
						<div id = "errors-form-contact" style="font-size: 14px;"></div>
						<div class="w-size25">
							<!-- Button -->
							<button type="submit" id="submit-contact" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
								Send
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
		<script src="{% static 'js/emailvalidate.js' %}"></script>
		<script type="text/javascript">
		
        $(document).ready(function(){
			if(localStorage.getItem('token') != null){
                    document.getElementById('order-display').style.visibility = 'visible'
					document.getElementById('wishlist-display').style.visibility = 'visible'
			}
			if (sessionStorage.getItem('notify') == null) {
			$('#header-cart-noti').text("0")
			} else {
				notifynum = sessionStorage.getItem('notify')
				$('#header-cart-noti').text(notifynum); 
			}
		controlvar = sessionStorage.getItem('controlVar')
		controlvar = Number(controlvar)
		for(x = 0; x<=controlvar; x++){
			cartlist = sessionStorage.getItem('cart'+x)
			$("#add-item-cart").append(cartlist)
		}
		//End
            $("#submit-contact").on("click", function(e){
				e.preventDefault();
				if($("#fullname").val() == "" || $("#email").val() == "") {
					if($('#fullname').val() == "") {
						document.getElementById('errors-name-contact').innerHTML = "*Do not leave as empty!"
					}
					if($("#phone_num").val() == "") {
						document.getElementById('errors-email-contact').innerHTML = "*Do not leave as empty!"
					}
				}
                fullName = $("#fullname").val();  //Get value using ID 
				phone_num = $("#phone_num").val();
				email =$("#email").val();
				var tf = ValidateEmail(email);
				message = $("#message").val();
				if (tf == true) {
                $.ajax({
                    type: "POST",
                    url: "{% url 'api-contact' %}", //"name" in urls.py file
                    data: {                        // Json object
                        "fullname": fullName,
                        "phone_num": phone_num,
						"email": email,
						"message": message,
                    },
                    dataType: "JSON",
                    success: function(data, status){
						console.log(data); 
						// alert("Thank You! We'll get back to you soon!")
						document.getElementById('errors-form-contact').innerHTML = "Your Response has been recorded! Thank You!"
                    },
                    error: function(data, status) {
                        console.log(data.responseJSON);
                    },
                    complete: function() {
                        $("#fullname").val("");  //Reset value using ID 
						$("#phone_num").val("");
						$("#email").val("");
						$("#message").val("");
                    }
				})
			} else {
				document.getElementById('errors-email-contact').innerHTML = "*Enter valid email!"
			}
            })
        })
        
        </script>
	</section>

{% endblock %}