{% extends 'base.html' %}
    {% load static %}
    {% block title %} Login {% endblock %}
    {% block content %}
    <!-- Title Banner -->
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url({% static 'images/heading-pages-06.jpg' %});">
		<h2 class="l-text2 t-center">
			Login
		</h2>
	</section>
    <!-- --- -->
    <section class="bgwhite p-t-66 p-b-60">
    <div class="container">
    <div class="row">
    <div class="col-md-6 p-b-30">
            <h4 class="m-text14 p-b-7">
                    Customer Login
                </h4>
        <form class ="leave-comment" method="POST" >
            {% csrf_token %}
            <div class="bo4 of-hidden size15 m-b-20">
                <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="user" name="username" placeholder="Username">
            </div>
            <div class="bo4 of-hidden size15 m-b-20">
                <input class="sizefull s-text7 p-l-22 p-r-22" type="password" id="pass" name="password" placeholder="Password">
            </div>
            <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" id="submit-button" type="submit">
                LOGIN
            </button>
        </form>
    </div>
        <div id="disp-button" style= "visibility: hidden">
            <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" id="logout-button" type="submit">
                LOGOUT
            </button>
        </div>
        </div>
    </div>
    </section>
    {% endblock %}