<html>
    {% load static %}
    <head>Login</head>
    <body>
        <form method="POST" >
            {% csrf_token %}
            <input type="text" id="user" name="username">
            <input type="password" id="pass" name="password">
            <button id="submit-button" type="submit">Login</button>
        </form>
        <!-- <div id="response-data">Still haven't logged in</div> -->
        <div id="disp-button" style= "visibility: hidden">
            <button id="view-button" type="submit">Click to View data</button>
            <div id="sample-data">No data</div>
            <button id="logout-button" type="submit">logout</button>
        </div>
        <!-- Jquery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $("#submit-button").on("click", function(e){
                e.preventDefault();
                userName = $("#user").val();  //Get value using ID for username and password
                passWord = $("#pass").val();
                console.log(userName+":"+passWord);
                $.ajax({
                    type: "POST",
                    url: "{% url 'auth-login' %}", //"name" in urls.py file
                    data: {                        // Json object
                        "username": userName,
                        "password": passWord
                    },
                    dataType: "JSON",
                    success: function(data){
                        console.log(data);
                        localStorage.setItem('token', data.token)
                        document.getElementById('disp-button').style.visibility = 'visible'

                    },
                    error: function(data, status) {
                        console.log(data.responseJSON);
                    }, 
                    complete: function(){
                        $("#user").val('');
                        $("#pass").val('');
                    }
                })
            })
            //View database for corresponding token
            $("#view-button").on("click", function(e){
                e.preventDefault();
                var userName = localStorage.getItem('name');
                $.ajax({
                type: "GET",
                url: "{% url 'api-view-data' %}", //"name" in urls.py file
                headers: {
                    "Authorization": "Token "+localStorage.getItem('token')
                },
                success: function(data){
                    var json = JSON.parse(data); //Parse Json data to access
                    console.log(json[0].fields);
                    $("#sample-data").text("Hello " + json[0].fields.username)
                },
                
            })
            })

            //logout - clear localstorage
            $("#logout-button").on("click", function(e){
                e.preventDefault();
                $.ajax({
                    success: function(){
                        localStorage.clear();
                        document.getElementById('disp-button').style.visibility = 'hidden'
                    },
                    complete: function() {
                        $("#sample-data").text('No data')
                        window.location.reload("http://127.0.0.1:8000/login")
                    }
            })
            })
        })
        </script>
    </body>
</html>