{% extends 'seller.html' %}
    {% load static %}
    {% block title %} Product Registration {% endblock %}
    {% block content %}
    <!-- Title Banner -->
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url({% static 'images/heading-pages-06.jpg' %});">
		<h2 class="l-text2 t-center">
			Product Registration
		</h2>
	</section>
    <!-- --- -->
    <section class="bgwhite p-t-66 p-b-60">
    <div class="container">
    <div class="row">
    <div class="col-md-6 p-b-30">
        <form class ="leave-comment" method="POST" >
            {% csrf_token %}
            <div class="bo4 of-hidden size15 m-b-20">
                <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="product-name" name="name" placeholder="Product Name">
            </div>
            <div class="bo4 of-hidden size15 m-b-20">
                <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="product-desc" name="description" placeholder="Product Description">
            </div>
            <div class="bo4 of-hidden size15 m-b-20">
                <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="size" name="size" placeholder="Sizes available: XS, S, M, L, XL">
            </div>
            <div class="bo4 of-hidden size15 m-b-20">
                <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="gender" name="gender" placeholder="Female/Male/Unisex">
            </div>
            <div class="bo4 of-hidden size15 m-b-20">
                <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="colors" name="colors" placeholder="Major colors">
            </div>
            <div class="bo4 of-hidden size15 m-b-20">
                <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="category" name="category" placeholder="Type of product">
            </div>
            <div class="bo4 of-hidden size15 m-b-20">
                <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="price" name="price" placeholder="Price of product">
            </div>
            <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" id="prod-submit-button" type="submit">
                Register Product
            </button>
        </form>
    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	    <script type="text/javascript">
           
        </script> 
        
        </div>
    </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            if(localStorage.getItem('token') != null) {
            document.getElementById('product-reg-menu').style.visibility = 'visible'
            token = localStorage.getItem('token')
            // console.log(token)
            $('#signup-menu-button').attr("href", "#")
            $("#prod-submit-button").on("click", function(e){
                e.preventDefault();
                prodName = $('#product-name').val();  //Get value using ID for username and password
                prodDesc = $('#product-desc').val()
                prodSize = $('#size').val()
                prodGend = $('#gender').val()
                prodColors = $('#colors').val()
                prodCategory = $('#category').val()
                prodPrice = $('#price').val()
                
                $.ajax({
                    type: "POST",
                    url: "{% url 'api-productreg' %}", //"name" in urls.py file
                    headers: {
                        "Authorization": "Token " + token
                    },
                    data: {                        // Json object
                        "prod_name": prodName,
                        "prod_desc": prodDesc,
                        "size": prodSize,
                        "gender": prodGend,
                        "colors": prodColors,
                        "category": prodCategory,
                        "price":prodPrice
                    },
                    dataType: "JSON",
                    success: function(data, status){
                        console.log(data);
                        alert("Product Registered")
                    },
                    error: function(data, status) {
                        console.log(data.responseJSON);
                    },
                    complete: function() {
                        $('#product-name').val('')  //Get value using ID for username and password
                        $('#product-desc').val('')
                        $('#size').val('')
                        $('#gender').val('')
                        $('#colors').val('')
                        $('#category').val('')
                        $('#price').val('')
                    }
                })
            })
        } else {
			document.getElementById('product-reg-menu').style.visibility = 'hidden'
        }
        })
        
        </script>
    {% endblock %}