{% extends 'seller.html' %}
    {% load static %}
    {% block title %} Sign Up {% endblock %}
    {% block content %}
    <!-- Title Banner -->
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url({% static 'images/heading-pages-06.jpg' %});">
		<h2 class="l-text2 t-center">
			Sign Up
		</h2>
	</section>
    <!-- --- -->
    <section class="bgwhite p-t-66 p-b-60">
		<div class="container">
			<div class="row">
            
            <div class="col-md-6 p-b-30">
                <form class ="leave-comment" method="POST" >
                {% csrf_token %}
                <div id = "errors-seller-name-signup" style="font-size: 12px; color:red;"></div>
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="company-user" name="username" placeholder="Email Address of company">
                </div>
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="password" id="pass" name="password" placeholder="Password">
                </div>
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="password" id="pass1" name="password" placeholder="Enter password again">
                </div>
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="company-name" name="company-name" placeholder="Company Name">
                </div>
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="company-phone-num" name="company-phone-num" placeholder="Contact Number">
                </div>
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="company-address" name="company-address" placeholder="Address">
                </div>
                <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" id="signup-button" type="submit">
                SignUp
                </button>
            </form>
            </div>
        
        <!-- Jquery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="{% static 'js/emailvalidate.js' %}"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $("#signup-button").on("click", function(e){
                e.preventDefault();
                userName = $("#company-user").val();  //Get value using ID for username and password
                var tf = ValidateEmail(userName);
                if (tf == true) {
                console.log('tf');
                var passWord = 'undefined'
                if ($('#pass').val() == $('#pass1').val()){
                    passWord = $('#pass').val()
                    companyName = $('#company-name').val()
                    companyPhone = $('#company-phone-num').val()
                    companyAddr = $('#company-address').val()

                $.ajax({
                    type: "POST",
                    url: "{% url 'api-sellersignup' %}", //"name" in urls.py file
                    data: {                        // Json object
                        "companyuser": userName,
                        "password": passWord,
                        "companyname": companyName,
                        "address": companyAddr,
                        "phonenum": companyPhone

                    },
                    dataType: "JSON",
                    success: function(data, status){
                        console.log(status); //Token will be generated at login
                        if (status == 'success') {
                            window.location.replace("http://127.0.0.1:8000/seller")
                        }
                    },
                    error: function(data, status) {
                        console.log(data.responseJSON);
                    },
                    complete: function() {
                        $("#user").val('');
                        $("#pass").val('');
                        $('#company-name').val('')
                        $('#company-phone-num').val('')
                        $('#company-address').val('')
                    }
                })
            } else {
                alert("Passwords don't match!")
            }
        } else {
            console.log("Enter valid email")
        }
            })
        })
        
        </script>
    </div>
    </div>
    </section>
    {% endblock %}